{% extends "layout.html" %}

{% include "menu/menu_register_user.html" %}


{% block title %} Club Deportivo Villa Elisa {% endblock %}



{% block body %}

<!-- Iconos fontawesome -->
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">

<p><h1 class="h3 mb-3 fw-normal"> Formulario de Creación de USUARIO</h1></p>

    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% endwith %}
    <form action="{{ url_for('crear_usuario') }} " method="POST"  id="form_crear" name="form_crear">
        <div class="row mb-4">
            <div class="col">
            <div class="form-outline">
                <label class="form-label" for="first_name"> <b> Nombre </b> </label>
                <input type="text" id="first_name" name="first_name" class="form-control" required />
            </div>
            </div>
            <div class="col">
            <div class="form-outline">
                <label class="form-label" for="last_name"> <b> Apellido </b> </label>
                <input type="text" id="last_name" name="last_name" class="form-control" required />
            </div>
            </div>
        </div>
    
      <!-- e-mail input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="email"> <b> E-mail  </b> </label>
        <input type="email" id="email" name="email" class="form-control" required />
      </div>
    
      <!-- password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="password">  <b> Password  </b> </label>
        <input type="password" id="password" name="password" class="form-control" />
      </div>

       <!-- text input -->
       <div class="form-outline mb-4">
        <label class="form-label" for="username"> <b> Username  </b> </label>
        <input type="text" id="username" name="username" class="form-control" />
      </div>


      <button type="submit" class="btn btn-success btn-lg btn-block"><i class="fa fa-save"></i> CREAR</button>
      <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('gestion_usuarios') }}" role="button">RETROCEDER</a> 
    
    </form>
    
{% endblock %}