{% extends "index.html" %}

<!-- {% block title %} Club Deportivo Villa Elisa {% endblock %}   -->
    
{% block content %}
<br>
<p><h1 class="h3 mb-3 fw-normal"> Formulario de Modificacion de USUARIO</h1></p>



<form class="form-signin" action="{{ url_for('modificar_usuario', id=usu.id) }}" method="POST" >
  <div>
  <br>
    <div class="row mb-4">
        <div class="col">
        <div class="form-outline shadow-sm p-1 mb-1 bg-white rounded">
            <label class="form-label" for="first_name" > <b> Nombre </b> </label>
            <input type="text" id="first_name" name="first_name" value={{usu.first_name}} class="form-control"  />
        </div>
        </div>
        <div class="col">
        <div class="form-outline shadow-sm p-1 mb-1 bg-white rounded">
            <label class="form-label" for="last_name" > <b> Apellido </b> </label>
            <input type="text" id="last_name" name="last_name" value={{usu.last_name}} class="form-control"  />
        </div>
        </div>
    </div>

    <!-- e-mail input -->
    <div class="form-outline mb-4 shadow-sm p-1 mb-1 bg-white rounded">
      <label class="form-label" for="email"> <b> E-mail  </b> </label>
      <input type="email" id="email" name="email" value={{usu.email}} class="form-control"  />
    </div>

    <!-- password input -->
    <div class="form-outline mb-4 shadow-sm p-1 mb-1 bg-white rounded">
      <label class="form-label" for="password">  <b> Password  </b> </label>
      <input type="password" id="password" name="password" value={{usu.pass1}} class="form-control" disabled/>
    </div>

    <!-- text input -->
    <div class="form-outline mb-4 shadow-sm p-1 mb-1 bg-white rounded">
      <label class="form-label" for="username"> <b> Username  </b> </label>
      <input type="text" id="username" name="username" value={{usu.username}} class="form-control" />
    </div>


    <button type="submit" class="btn btn-success btn-lg btn-block"><i class="fa fa-save"></i> Modificar</button>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('gestion_usuarios') }}" role="button">RETROCEDER</a> 
    
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% endwith %}
  </div>
</form>

{% endblock %}