{% extends "index.html" %}

{% block title %} Configuracion {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='/login.css') }}">
{% endblock %}

{% block content %}

    <form class="form-config" action="" >
        <br><br>
        <h1>Configuracion</h1>

        <div class="config" >
            <label for="">Ingrese num de paginacion:</label>
            <input type="number" class="form-control" name="" placeholder= "..." >
        </div>
        <br>
        <div class="form-row">
            <label>Tabla de pagos:</label>
            <select class="s-input" name="orden">
              
              <option value="1">Habilitar</option>
              <option value="2">Desabilitar</option>
            </select>
        </div>
        <br>
        <div class="config" >
            <label for="">Informacion de contacto:</label>
            <input type="text" class="form-control" name="" placeholder="..." >
        </div>

        <div class="config" >
            <label for="">Texto encabezado recibo de pago:</label>
            <input type="text" class="form-control" name="" placeholder="..." >
        </div>

        <div class="config" >
            <label for="">Valor de cuota mensual base:</label>
            <input type="text" class="form-control" name="" placeholder="..." >
        </div>

        <div class="config" >
            <label for="">Porcentaje de recargo de cuotas:</label>
            <input type="text" class="form-control" name="" placeholder="..." >
        </div>
        <br>
        <button type="submit">Actualizar</button>

    </form>

{% endblock %}