{% extends "index.html" %}

{% block content %}
<!-- para el buscador -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- para el buscador -->

<h1>Gestion Disciplinas</h1>
<br>



<!-- tabla disciplinas  -->
<div class="container">
  <!-- buscador  -->
  <div class="row">
    <div class="col-sm-10">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
    </div>
    <!-- buscador -->
    <p>
        {% if validar_permisos(session["id"],"new") %}
        <div class="col-sm-2">
           <a href="{{ url_for('crear_disciplina') }}"> <button type="button" class="btn btn-warning "><i class="fa-solid fa-user-plus"></i> Agregar Disciplina</button> </a>
        </div>
        {% endif %}
    </p>
    {% if validar_permisos(session["id"],"show") %}
    <div class="col-md-10">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="bg-primary text-white">
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Instructores</th>
                    <th>Dia y Hora</th>
                    <th>Costo mensual</th>
                    <th>Estado</th>
                    <th class="text-center">Operaciones</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <!-- print({{ user }}) -->
                {% for d in discip.items %}
                <tr>
                    <td> {{ d.name  }}
                      {% if validar_permisos(session["id"],"show") %}
                      <button type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#modalshow{{d.id}}" style="float: right;">
                        <i class="fa-sharp fa-solid fa-magnifying-glass fa-lg"></i>
                      </button>
                      {% endif %}
                    </td>
                    <td> {{ d.category }} </td>
                    <td> {{ d.instructors }} </td>
                    <td> {{ d.date_time }} </td>
                    <td> {{ d.monthly_cost }} </td>
                    <td>
                      {% if d.enabled %}
                        Habilitada
                      {% else %}
                        Deshabilitada
                      {% endif %}
                    </td>
                    <td align="center">
                          {% if validar_permisos(session["id"],"update") %}
                          <button type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#modaledit{{d.id}}">
                            <i class="fa-solid fa-pen-to-square"></i> Editar
                          </button>
                          {% endif %}
                          <a href="{{ url_for( 'habilitar_deshabilitarD',id = d.id )  }}"  onClick="return confirm('¿Esta seguro que desea cambiar el estado de la disciplina?');"><i class="fa fa-fw fa-trash"></i> Habilitar/Deshabilitar</a>  <!--  -->
                          {% if validar_permisos(session["id"],"destroy") %}
                          <a href="{{ url_for( 'eliminar_disciplina',id = d.id )  }}" class="text-danger" onClick="return confirm('¿Esta seguro que desea eliminar la disciplina?');"><i class="fa fa-fw fa-trash"></i> Eliminar</a>  <!--  -->
                          {% endif %}
                     </td>
                </tr>

                <!-- Modal para el modificar -->
                <div class="modal fade" id="modaledit{{d.id}}" tabindex="-1" aria-labelledby="modaledit" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modaledit">Modificar Disciplina</h5>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('modificar_disciplina', id=d.id) }}" method="POST">
                                <div class="form-group">
                                    <label class="form-label" for="name" style="float: left;"> <b> Nombre </b> </label>
                                    <input type="text" id="name" name="name" value="{{d.name}}" class="form-control"  />
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="category"style="float: left;"> <b> Categoria </b> </label>
                                    <input type="text" id="category" name="category" value="{{d.category}}" class="form-control"  />
                                </div>
                          <div class="form-group">
                            <label class="form-label" for="instructors" style="float: left;"> <b> Instructores  </b> </label>
                            <input type="text" id="instructors" name="instructors" value="{{d.instructors}}" class="form-control"  />
                          </div>
                          <div class="form-group">
                            <label class="form-label" for="date_time"style="float: left;"> <b> Dia y Hora  </b> </label>
                            <input type="text" id="date_time" name="date_time" value="{{d.date_time}}" class="form-control" />
                          </div>
                          <div class="form-group">
                            <label class="form-label" for="monthly_cost"style="float: left;">  <b> Precio mensual  </b> </label>
                            <input type="number" id="monthly_cost" name="monthly_cost" value="{{d.monthly_cost}}" class="form-control" />
                          </div>                            
                          <div>
                            <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-success btn-lg btn-block"><i class="fa fa-save"></i> Guardar</button>
                          </div>
                          
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Modal para el Show de cada disciplina -->
                  <div class="modal fade" id="modalshow{{d.id}}" tabindex="-1" aria-labelledby="modalshow" aria-hidden="true">
                    <div class="modal-dialog modal-md modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modalshow">Informacion Usuario</h5>
                        </div>
                        <div class="modal-body">
                          <form >
                            <div class="form-group">
                              <label class="form-label" for="name" style="float: left;"> <b> Nombre Disciplina</b> </label>
                              <input type="text" id="name" name="name" value="{{d.name}}"
                                class="form-control" />
                            </div>
                            <div class="form-group mt-3">
                              <label class="form-label" for="category" style="float: left;"> <b> Categoria </b> </label>
                              <input type="text" id="category" name="category" value="{{d.category}}" class="form-control" />
                            </div>
                            <div class="form-group mt-3">
                              <label class="form-label" for="instructors" style="float: left;"> <b> Instructores </b> </label>
                              <input type="instructors" id="instructors" name="instructors" value="{{d.instructors}}" class="form-control" />
                            </div>
                            <div class="form-group mt-3">
                              <label class="form-label" for="date_time" style="float: left;"> <b> Dia y hora </b> </label>
                              <input type="text" id="date_time" name="date_time" value="{{d.date_time}}" class="form-control" />
                            </div>
                            <div class="form-group mt-3">
                              <label class="form-label" for="monthly_cost" style="float: left;"> <b> Costo Mensual </b> </label>
                              <input type="text" id="monthly_cost" name="monthly_cost" value="{{d.monthly_cost}}" class="form-control" />
                            </div>
                            <div class="form-group mt-3">
                              <label class="form-label" for="enabled" style="float: left;"> <b> Estado Disciplina</b> </label>
                              <input type="text" id="enabled" name="enabled" value="{{d.enabled}}" class="form-control" />
                            </div>
                            <div>
                              <button type="button" class="btn btn-secondary btn-lg mt-3" data-bs-dismiss="modal">Cerrar</button>
                            </div>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </tbody>
        </table>

        
         <!-- Enlaces de paginación -->
         <div class="text-right">
          <a href="{{ url_for('gestion_disciplinas', page=discip.prev_num) }}"
             class="btn btn-outline-dark
            {% if discip.page == 1 %}disabled{% endif %}">
              &laquo;
          </a>
       <!-- Recorra el número de páginas para mostrar un enlace para cada vista-->
       {% for page_num in discip.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
       {% if page_num %}
       <!-- Verifique la página activa y establezca el enlace en "Activo"-->
           {% if discip.page == page_num %}
           <a href="{{ url_for('gestion_disciplinas', page=page_num) }}"
              class="btn btn-dark">
              {{ page_num }}
           </a>
           {% else %}
           <a href="{{ url_for('gestion_disciplinas', page=page_num) }}"
              class="btn btn-outline-dark">
               {{ page_num }}
           </a>
           {% endif %}
       {% else %}
              ...
       {% endif %}
     {% endfor %}
     <a href="{{ url_for('gestion_disciplinas', page=discip.next_num) }}"
         class="btn btn-outline-dark
        {% if discip.page == discip.pages %}disabled{% endif %}">
         &raquo;
     </a>
     </div>
    <p class="text-right mt-3">
        pagina {{ discip.page }} de {{ discip.pages }}
     </p>

      </div> 


  </div>
  
  </div>
</div>
<!-- fin de tabla -->
{% endif %}
<div>
  {% with messages = get_flashed_messages() %}

  {% if messages %}
  <br />
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}

  {% endwith %}
</div>
<!-- script para el buscador -->
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
<!-- script para el buscador -->

{% endblock %}