{% extends "index.html" %}



{% block content %}
<h1>Pago Cuotas</h1>
<br>

<!-- tabla pagos  -->

<div class="container">


  <!-- buscador  -->
  <div class="row">
    <div class="col-sm-10">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
    </div>
  </div>
  <!-- buscador -->

  <br>
  <div class="col-md-10">
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg-primary text-white">
          <th>Asociado</th>
          <th>Disciplina</th>
          <th>Monto</th>
          <th class="text-center">Operaciones</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr>
          {% for ld in listaD %}
          {% for la in listaA %}
          <td>{{la.first_name}}</td>
          <td>{{ld.name}}</td>
          <td>{{ld.monthly_cost}} </td>
          <td align="center">
            <a href="{{ url_for('realizar_pago')}}"> <button type="button" class="btn btn-warning "><i class="fa-solid fa-user-plus"></i>
               Agregar Pago</button> 
            </a>        
          </td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- fin de tabla -->

<!-- lagregaron comportamiento de pago -->

{% endblock %}