{% extends "index.html" %}




{% block content %}

<!-- Iconos fontawesome -->
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">

<p>
<h1 class="h3 mb-3 fw-normal"> Formulario de Creación de Asociado</h1>
</p>

{% with messages = get_flashed_messages() %}

{% if messages %}
<br />
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}


{% endwith %}
<form action="{{ url_for('crear_asociado') }}" method="POST" id="form_crear" name="form_crear">
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline shadow-sm p-1 mb-1 bg-white rounded">
                <label class="form-label" for="first_name"> <b> Nombre </b> </label>
                <input type="text" id="first_name" name="first_name" class="form-control" required />
            </div>
        </div>
        <div class="col">
            <div class="form-outline shadow-sm p-1 mb-1 bg-white rounded">
                <label class="form-label" for="last_name"> <b> Apellido </b> </label>
                <input type="text" id="last_name" name="last_name" class="form-control" required />
            </div>
        </div>
    </div>

    <!-- e-mail input -->
    <div class="form-outline mb-4 shadow-sm p-1 mb-1 bg-white rounded">
        <label class="form-label" for="document_type"> <b> Tipo Documento </b> </label>
        
        <select name="document_type" class="selectpicker form-control">
            <option value="CUIL">CUIL</option>
            <option value="DNI">DNI</option>
            <option value="LC">LC</option>
            <option value="LD">LE</option>
        </select>
    </div>

    <!-- password input -->
    <div class="form-outline mb-4 shadow-sm p-1 mb-1 bg-white rounded">
        <label class="form-label" for="document"> <b> Documento </b> </label>
        <input type="text" id="document" name="document" class="form-control" />
    </div>

    <!-- text input -->
    <div class="form-outline mb-4 shadow-sm p-1 mb-1 bg-white rounded">
        <label class="form-label" for="gender"> <b> Genero </b> </label>
        <select name="gender" class="selectpicker form-control">
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>
        </select>
    </div>

    <div class="form-outline mb-4 shadow-sm p-1 mb-1 bg-white rounded">
        <label class="form-label" for="adress"> <b> Direccion </b> </label>
        <input type="text" id="adress" name="adress" class="form-control" />
    </div>

    <div class="form-outline mb-4 shadow-sm p-1 mb-1 bg-white rounded">
        <label class="form-label" for="state"> <b> Estado </b> </label>
        <select name="state" class="selectpicker form-control">
            <option value="Activo">Activo</option>
            <option value="No-Activo">No-Activo</option>            
        </select>
    </div>

    <div class="form-outline mb-4 shadow-sm p-1 mb-1 bg-white rounded">
        <label class="form-label" for="phone_number"> <b> Numero telefono </b> </label>
        <input type="text" id="phone_number" name="phone_number" class="form-control" maxlength="9"/>
    </div>

    <div class="form-outline mb-4 shadow-sm p-1 mb-1 bg-white rounded">
        <label class="form-label" for="email"> <b> Email </b> </label>
        <input type="email" id="email" name="email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success btn-lg btn-block"><i class="fa fa-save"></i> CREAR</button>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('gestion_asociados') }}" role="button">RETROCEDER</a>

</form>

{% endblock %}